var secondTime = 1000;
var minTime = 60 * secondTime;
var hourTime = 60 * 60 * 1000;
var dayTime = 24 * hourTime;
var monthTime = 30 * dayTime;
var yearTime = 12 * monthTime;

var join = function (arr, item, separator) {
  arr = arr || [];
  // 最多取前两个 tag
  return arr.slice(0, 2).map(function(i, index){
    return i[item];
  }).join(separator);
};

var timeBefore = function (time) {
  if (!time) {
    return '';
  }
  var dvalue = parseInt(getDate().getTime()) - parseInt(getDate(time*1000).getTime());
  if (dvalue < minTime) {
    return '刚刚';
  } else if (dvalue >= minTime && dvalue < hourTime) {
    return parseInt(dvalue / minTime) + '分钟前';
  } else if (dvalue >= hourTime && dvalue < dayTime) {
    return parseInt(dvalue / hourTime) + '小时前';
  } else if (dvalue >= dayTime && dvalue < monthTime) {
    return parseInt(dvalue / dayTime) + '天前';
  } else if (dvalue >= monthTime && dvalue < yearTime) {
    return parseInt(dvalue / monthTime) + '月前';
  } else if (dvalue >= yearTime) {
    return parseInt(dvalue / yearTime) + '年前';
  }
};

var strToNumArr = function (str) {
  var arr1 = (str + '').split('');
  var arr = [];
  for (i=0, len1 = arr1.length; i < len1; i++) {
    var arr2 = []
    for (j = 0, len2 = parseInt(arr1[i]); j <= len2; j++) {
      arr2.push(j)
    }
    arr.push(arr2);
  }
  return arr;
};

// 获取 hostname
var getUrlHostName = function (url) {
  if (!url) {
    return '';
  }
  var arrUrl = url.split('//');
  var start = arrUrl[1] ? arrUrl[1].indexOf('/') : arrUrl[0].indexOf('/');
  var relUrl = arrUrl[1] ? arrUrl[1].substring(0, start) : arrUrl[0].substring(0, start);
  return relUrl;
}

var formatDuration = function (time) {
  var str = '';
  var units = ['小时', '分', '秒'];
  var values = [hourTime, minTime, secondTime];
  var i = 0;
  for (i = 0, len = values.length; i <len; i++) {
    if (Math.floor(time / values[i]) !== 0) {
      str += Math.floor(time / values[i]) + units[i];
    }
    time = time % values[i];
  }
  return str;
}

module.exports = {
  join: join,
  timeBefore: timeBefore,
  strToNumArr: strToNumArr,
  getUrlHostName: getUrlHostName,
  formatDuration: formatDuration,
};